*{  /* aplica para todos os componentes no documento */
    box-sizing: border-box;
}

body {
    font-family: Arial;
    padding: 10px;
    background-color: #f1f1f1;
}

.header {
    padding: 30px; 
    text-align: center;
    background-color: white;
}

.header h1{
    font-size: 50px;
}

.topnav{
    background-color: #333333;
    overflow: hidden; /* oculta o scroll em caso de tamanho maior */
} 

.topnav a{
    float: left;
    color: #f2f2f2;
    text-decoration: none; /* remove a decoração de um link */
    text-align: center;
    padding: 14px 16px;
}

.topnav a:hover{ /* efeito quando passa o mouse encima  */
    color: black;
    background-color: #ddd;
}

.leftcol{
    float: left;
    width: 75%;
}

.rightcol{
    float: left;
    width: 25%;
    background-color: #f1f1f1;
    padding-left: 20px;
}

.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

.fakeimg{
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

.footer{
    padding: 20px;
    text-align: center;
    background-color: #ddd;
    margin-top: 20px;
}

/* Necessário para limpar as próximas colunas */
.row::after{
    content: "";
    display: table;
    clear: both;
}

/* Responsavidade, quando a tela for menor que 800 px */
@media screen and (max-width: 800px){
    .leftcol, .rightcol{
        width: 100%;
        padding: 0;
    }
}

@media screen and (max-width: 500px){
    .topnav a{
        width: 100%;
    }
}

/* .titulo-vermelho{
  color: red;
}
.titulo-azul{
  color: blue;
} */